version: "3.3"

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: solicitudes-app
    depends_on:
      - db
    ports:
      - 8000:8000
    volumes:
      - ./app:/app 
    working_dir: /app
    command: >
      sh -c "
            cd /app/solicitudes &&
            . /env/bin/activate &&
            python3 manage.py migrate &&
            python3 manage.py runserver 0.0.0.0:8000"
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      DB_USER_ADMIN: ${DB_USER_ADMIN}

      DB_HOST: ${DB_HOST}
      DEBUG: ${DEBUG}
      SECRET_KEY: ${SECRET_KEY}

  db:
    image: mariadb
    container_name: soliocitudes-db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - db:/var/lib/mysql
    ports:
      - 127.0.0.1:3310:3306

volumes:
  db:
