{% extends 'blank.html' %}

{% block contenido %}
<div class="container-fluid">
    <h1>{{ titulo }}</h1> 
    
    <form method="post" enctype="multipart/form-data"> 
        {% csrf_token %}


        {{ form.as_p }}

        <div class="d-flex justify-content-start gap-2">
            <button type="submit" class="btn btn-primary">
                {% if instancia %}
                    Guardar Cambios 
                {% else %}
                    Crear Formulario 
                {% endif %}
            </button>
            
            <a href="{% url 'lista_formularios' %}" class="btn btn-secondary">
                Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock contenido %}